
generate_hcl "gen_locals.tf" {
  lets {
    environment = tm_regex("^/environments/([^/]+)/", terramate.stack.path.absolute)[0]
  }

  content {
    locals {
      environment = let.environment

      # the subnet_name is shared between vpc and ec2-instance stack and needs to be the same to
      # identify the correct subnet to spawn the instance in
      subnet_name = "my-subnet-${let.environment}"
    }
  }
}
