
# The backend configuration is the same in each stack, so we can generate it unconditionally

generate_hcl "gen_backend.tf" {
  content {
    terraform {
      backend "local" {
        path = "terraform.tfstate"
      }
    }
  }
}
